// Styles de l'en-tête
.header {
  background-color: $couleur-clair;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;

  &__contenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0 auto;
  }

  &__logo-image {
    height: 75px;
    width: auto;
  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: flex-end;
    }

    &-nav {
      position: relative;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-transform: uppercase;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    &-element {
      margin: 0 0.3rem;
      font-size: 0.9rem;
      font-weight: 600;
      padding: 0.5rem 0.2rem;
      transition: color 0.3s ease;
      color: $couleur-secondaire;

      &:hover {
        color: $couleur-primaire;
      }
    }

    &-lien {
      font-size: 0.9rem;
      font-weight: 600;
      padding: 0.2rem;
      color: $couleur-secondaire;
      transition: color 0.3s ease;

      &:hover {
        color: $couleur-primaire;
      }

      @media (max-width: 768px) {
        display: block;
        padding: 1rem;
      }
    }
  }

  &__recherche {
    flex: 0 0 auto;
    margin-left: 1rem;

    @media (max-width: 992px) {
      margin-left: auto;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__menu-toggle {
    display: none;

    @media (max-width: 768px) {
      display: block;

      &::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f0c9";
        font-size: 1.5rem;
        color: $couleur-secondaire;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }
}

// Style menu mobile
@media (max-width: 600px) {
  [id="menu-mobile-toggle"]:checked {
    ~ .header__menu-toggle::before {
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f00d";
      color: $couleur-primaire;
    }

    ~ .header__navigation .header__navigation-nav {
      display: block;
      position: fixed;
      top: 90px;
      left: 0;
      width: 100%;
      background-color: $couleur-blanche;
      z-index: 1;
      padding: 1rem;
      overflow-y: auto;
    }
  }
}
