// .hero__titre{
//   opacity: 0;
//   transform: translateY(20px);
//   animation: fadeInUp 1.2s ease-out forwards;
//   animation-delay: 0.5s;
// }

// // Animation
// @keyframes fadeInUp {
//   from {
//     opacity: 0;
//     transform: translateY(20px);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

.hero__titre {
  opacity: 0;
  transform: scale(0.95);
  animation: fadeZoomIn 1.2s ease-out forwards;
  animation-delay: 0.3s;
}

// Animation
@keyframes fadeZoomIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
