// Couleurs principales
$couleur-primaire: #3EBFAB;
$couleur-secondaire: #00475B;
$couleur-accent: #F07C00;

// Couleurs neutres
$couleur-blanche: #FFFFFF;
$couleur-clair: #F5F5F5;
$couleur-gris: #E0E0E0;
$couleur-gris-fonce: #666666;
$couleur-noir: #252525;

// Couleurs de texte
$couleur-texte: $couleur-noir;
$couleur-texte-clair: $couleur-blanche;
$couleur-titre: $couleur-secondaire;