// Couleurs principales
$couleur-primaire: #3ebfab;
$couleur-secondaire: #00475b;
$couleur-accent: #f07c00;

// Couleurs neutres
$couleur-blanche: #ffffff;
$couleur-clair: #f5f5f5;
$couleur-gris: #e0e0e0;
$couleur-gris-clair: #c0c0c0;
$couleur-gris-fonce: #666666;
$couleur-noir: #252525;

// Couleurs de texte
$couleur-texte: $couleur-noir;
$couleur-texte-clair: $couleur-blanche;
$couleur-titre: $couleur-secondaire;

//Typographie
$police-titres: "Montserrat", sans-serif;
$police-texte: "Poppins", sans-serif;
